body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar ul{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    padding-right: 5%;
    
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.navbar a:hover{
    background-color: cadetblue;
}
.section-1{
    margin-left: 3%;
    padding: 2%;
    margin-bottom: 10px;
}

.first-part, .second-part, .third-part, .fourth-part{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 1%;
    padding-right: 1%;
}
img{
    height: 500px;
}

.first-part a{
    text-decoration: none;
    background-color:rgba(255, 128, 99, 1);
    padding: 15px 40px;
    border-radius: 5%;
    color: white;
    font-weight: 700;

}
.first-part p, .fourth-part p{
    margin-bottom: 10%;
    text-align: justify;
}
h1{
    font-family: 'Bebas Neue';
    font-size: 80px;
    margin: 0;
}
h2{
    font-family: 'Bebas Neue';
    font-size: 48px;
    margin: 0;
}
.first-part{
    margin-top: 5%;
}
.hello{
    color: rgba(54, 57, 88, 1);
}
.name{
    color: rgba(255, 131, 103, 1);
}
.fourth-part h2{
    font-size: 48px;
    margin-top: 80px;
}
.fourth-part a{
    text-decoration: none;
    background-color:rgba(255, 128, 99, 1);
    padding: 15px 40px;
    border-radius: 5%;
    color: white;
    font-weight: 700;
}
.material-icons{
    padding-right: 10px;
    
}
.latest{
    color: rgba(255, 128, 99, 1);
}
.section-3{
    background-color: #E5E5E5;
    clear: left;
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
    
}
.section-3 h2{
    text-align: center;
    display: block;
    padding-top: 50px;
    margin-bottom: 50px;
}

.section-3 img{
    height: 250px;
    width: 300px;
}

.work-1, .work-2, .work-3{
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px rgb(83, 80, 80);
    border-radius: 20px;
    display: block;
    float: left;
    width: 25%;
    height: 400px;
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
.section-3 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #363958;
    
}
.section-4{
    background-image: url(images/background1.png);
    background-size: 50%;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 200px;
}
.section-4 h2, a{
    
    display: inline-block;
    padding-top: 40px;

}
.section-4 h2{
    color: whitesmoke;
    margin-left: 350px;
}
.section-4 a{
    text-decoration: none;
    margin-left: 200px;
    padding-top: 10px;
    border-top: 10px;
    background-color:rgba(255, 128, 99, 1);
    padding: 15px 25px;
    border-radius: 10px;

}
footer{
    text-align: center;
    background-color: rgb(226, 242, 243);
    height: 80px;
    padding-top: 2px;
    padding-bottom: 5px;
    
}