body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar ul{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    padding-right: 5%;
    
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: black;
}
.section-1{
    margin-left: 3%;
    padding: 2%;
    margin-bottom: 10px;
}
.section-2{
    
}

.first-part, .second-part, .third-part, .fourth-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
img{
    height: 500px;
}

.first-part a{
    text-decoration: none;
    background-color:rgba(255, 128, 99, 1);
    padding: 15px 40px;
    border-radius: 5%;
    color: white;
    font-weight: 700;

}
.first-part p, .fourth-part p{
    margin-bottom: 10%;
    text-align: justify;
}
h1, h2{
    font-family: 'Bebas Neue';
    font-size: 80px;
    margin: 0;
}
.first-part{
    margin-top: 5%;
}
.hello{
    color: rgba(54, 57, 88, 1);
}
.name{
    color: rgba(255, 131, 103, 1);
}
.fourth-part h2{
    font-size: 48px;
    margin-top: 80px;
}
.fourth-part a{
    text-decoration: none;
    background-color:rgba(255, 128, 99, 1);
    padding: 15px 40px;
    border-radius: 5%;
    color: white;
    font-weight: 700;
}
.material-icons{
    padding-right: 10px;
    
}
